@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

.img-size-carousel1 , .img-size-carousel2{
    width: 100%;
    height: 65vw;
    max-height: 650px;
    min-height: 375px;
}
.img-size-carousel1 {
    object-fit: cover;
}

.img-size-carousel2 {
    object-fit: fill;
}

.texto1carousel , .texto2carousel{
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0px;
    color: white;
    text-shadow: 2px 1px black;
}

.texto1carousel{
    font-size: 60px;
}

.texto2carousel{
    font-size: 36px;
}

.position-carousel-absolute{
    position: absolute;
    bottom: 0;
    padding-left: 2rem;
    padding-bottom: 3rem;
}

.carousel-control-next-icon , .carousel-control-prev-icon {
    display:none;
}

@media (max-width: 700px) {
    .texto1carousel {
        font-size: 28px;
    }
    .texto2carousel{
        font-size: 23px;
    }
}
