@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap%22");

.contenedor-user-register {
  display: flex;
  background-color: #e2e2e2;
  justify-content: center;
}

.btn-size-register:hover {
  cursor: pointer;
}

/* Contenedor del logo y del formulario  */
.cont-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* Contenedor del logo*/
.contenedor-logo {
  background-color: #e2e2e2;
  height: 200px;
}

.contenedor-logo img {
  width: 320px;
  height: 220px;
}

.btn-registro-inicio-sesion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  margin: 50px;
  height: 60px;
}

.btn-registro-inicio-sesion button {
  background-color: white;
  border: 3px solid white;
  width: 400px;
  height: 70px;
}

.btn-registro-inicio-sesion button:hover {
  border-bottom: 3px solid black;
}

.linea-central-botones {
  font-size: 50px;
  color: #e2e2e2;
}

.contenedor-seccion-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 2em;
}

.contenedor-formulario {
  background-color: white;
  width: 85%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #00000040;
  margin: 70px;
  font-family: "Outfit", sans-serif;
}

.parrafo-inicio-sesion-redes {
  margin-top: 50px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

.contenedor-google-facebook {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  padding-bottom: 90px;
}

.btn-ingreso-redes-sociales {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  width: 15%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 13px;
  font-size: 14px;
}

.btn-ingreso-redes-sociales:hover {
  background-color: #e6e0e0fb;
}

a:hover {
  color: black;
  text-decoration: none;
}

.btn-ingreso-redes-sociales:visited {
  color: white;
}

.btn-ingreso-redes-sociales p {
  margin: 0;
}

.btn-ingreso-redes-sociales img {
  width: 25px;
}

@media (max-width: 1042px) {
  .contenedor-formulario {
    width: 700px;
    height: auto;
    margin: 70px;
  }

  .btn-ingreso-redes-sociales {
    width: 130px;
    height: 40px;
    gap: 10px;
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  .contenedor-formulario {
    width: 550px;
    height: auto;
    margin: 70px;
  }

  .btn-ingreso-redes-sociales {
    width: 90px;
    height: 40px;
    display: flex;
    gap: 10px;
    font-size: 9px;
  }

  .btn-registro-inicio-sesion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    margin: 40px;
    width: 450px;
    height: 60px;
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .contenedor-formulario {
    width: 450px;
    height: auto;
    margin: 60px;
  }

  .btn-ingreso-redes-sociales {
    width: 115px;
    height: 40px;
    display: flex;
    gap: 8px;
    font-size: 10px;
  }

  .btn-registro-inicio-sesion {
    gap: 2em;
    margin: 40px;
    width: 350px;
    height: 60px;
    font-size: 15px;
  }

  .cont-principal {
    gap: 5px;
    width: 200px;
  }
}

@media (max-width: 455px) {
  .contenedor-formulario {
    width: 415px;
    height: auto;
    margin: 60px;
  }

  .btn-ingreso-redes-sociales {
    width: 100px;
    height: 40px;
    display: flex;
    gap: 8px;
    font-size: 10px;
  }

  .btn-registro-inicio-sesion {
    gap: 2em;
    margin: 40px;
    width: 330px;
    height: 55px;
    font-size: 13px;
  }

  .cont-principal {
    gap: 5px;
    width: 200px;
  }
}
