@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap%22");

.contenedor-user-register {
  display: flex;
  background-color: #e2e2e2;
  justify-content: center;
}

.btn-size-register:hover {
  cursor: pointer;
}

/* Contenedor del logo y del formulario  */
.cont-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* / Contenedor del logo*/
.contenedor-logo {
  background-color: #e2e2e2;
  height: 200px;
}

.contenedor-logo img {
  width: 320px;
  height: 220px;
}

.btn-registro-inicio-sesion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  margin: 50px;
  height: 60px;
}

.btn-registro-inicio-sesion button {
  background-color: white;
  border: 3px solid white;
  width: 400px;
  height: 70px;
}

.btn-registro-inicio-sesion button:hover {
  border-bottom: 3px solid black;
}

.linea-central-botones {
  font-size: 50px;
  color: #e2e2e2;
}

.contenedor-seccion-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 2em;
}

.contenedor-formulario {
  background-color: white;
  width: 85%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #00000040;
  margin-bottom: 70px;
  font-family: "Outfit", sans-serif;
}

.parrafo-inicio-sesion-redes {
  margin-top: 50px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

.contenedor-google-facebook {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  padding-bottom: 90px;
}

.btn-ingreso-redes-sociales {
  border: 1px solid black;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  font-size: 14px;
}

.btn-ingreso-redes-sociales img {
  width: 25px;
}
