@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");

.footer-desktop {
  font-family: "Outfit", sans-serif;
}

.button-decoration-footer {
  background-color: black;
}

.button-decoration-footer:hover {
  color: white;
}

.div-p-footer-contacto,
.div-p-footer-seguinos,
.div-p-footer-masinformacion {
  position: relative;
}

.border-bottom-masinformacion {
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #e2e2e2;
}

.border-bottom-contacto {
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #e2e2e2;
}

.border-bottom-seguinos {
  width: 120px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80px;
  height: 2px;
  background-color: #e2e2e2;
}

.padding-seguinos {
  padding-left: 80px;
}

.link-footer-color {
  color: white;
  text-decoration: none;
}

.link-footer-color:hover {
  color: white;
}

.font-size-footer-logo-direction-number {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 5px;
}

.margin-bottom-footer {
  margin-bottom: 32px;
}

.copyright-footer-mobile {
  color: #e2e2e2;
}

.color-footer-mobile {
  color: #e2e2e2;
}

.border-bottom-mobile-footer {
  border-bottom: solid 2px white;
  padding-bottom: 0.5rem;
}

@media (max-width: 500px) {
  .footer-desktop {
    display: none;
  }

  .texto-barra-superior {
    font-size: 10px;
  }
}

@media (min-width: 500px) {
  .footer-mobile {
    display: none;
  }
}
