@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

.form-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 600px;
    height: auto;
    margin: 1em;
}

#nombre, #apellido, #genero, #email, #contrasenia, #repetircontrasenia {
    width: 400px;
    padding: 10px;
    border: 1px solid #E2E2E2;
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
}

.btn-registrarse {
    margin: 16px;
    background-color: black;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Outfit', sans-serif;
    padding: 5px;
}

.btn-registrarse:hover {
    cursor: pointer;
}

.label-register {
    font-size: 14px;
}

.titulo-genero {
    margin: 0;
    font-size: 14px;
}

.select-genero{
    padding: 2px;
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    border: 1px solid #E2E2E2;
}

.div-error{
    color: red;
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
}

.link-cambio-contrasenia {
    margin: 0;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.registro-exitoso{
    color: green;
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
    padding: 5px;
    background-color: rgb(199, 252, 199);
    border-radius: 3px;
    margin: 0;
}

@media (max-width: 500px) {
    .btn-registrarse {
        margin: 16px;
        width: 110px;
        font-size: 14px;
        height: 35px;
        padding: 3px;
    }

    .form-registro {
        gap: 10px;
        width: 300px;
        height: auto;
        margin: 1em;
    }

    #nombre, #apellido, #genero, #email, #contrasenia, #repetircontrasenia {
        width: 300px;
        padding: 10px;
        border: 1px solid #E2E2E2;
        font-size: 13px;
        font-family: 'Outfit', sans-serif;
    }
}