@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");

.barra-superior-header {
  background-color: #ffe661;
}

.texto-barra-superior {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.nav-container-desktop {
  display: flex;
  justify-content: space-between;
}

.logo-header-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
}

.nav-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-nav-desktop {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-left: 1rem;
}

.li-nav-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 1.5rem 2rem 1.5rem 2rem;
}

.orange-color-ofertas {
  color: #ff7a00;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.orange-color-ofertas:hover {
  color: #ff7a00;
  border-bottom: 2px solid #ff7a00;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}

.link-style {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
}

.link-style:hover {
  color: black;
  border-bottom: 2px solid black;
}

.search-form-desktop {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px, 20px;
  border-radius: 60px;
  background-color: white;
  outline: solid thin black;
}

.input-search-desktop {
  width: 80%;
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding-left: 0.7rem;
}

.search-button-desktop {
  width: 20%;
  border: none;
  background: white;
  padding-right: 0.5rem;
}

::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.search-button-desktop:hover {
  border-radius: 50%;
}

.nav-buttons-desktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.profile-button-desktop {
  margin-left: 2rem;
  border: 0;
  background-color: transparent;
}

.profile-button-desktop:hover {
}

.compras-button-desktop {
  border: 0;
  background-color: transparent;
}

.container-header-mobile {
  display: flex;
  justify-content: space-evenly;
}

.nav-button-mobile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button-mobile {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.compras-button-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-logo-mobile {
  width: 166px;
}

@media (max-width: 1440px) {
  .li-nav-desktop {
    font-size: 16px;
    padding: 1rem 1rem 1rem 1rem;
  }
}

@media (max-width: 1366px) {
  .li-nav-desktop {
    font-size: 14px;
    padding: 1rem 1rem 1rem 1rem;
  }

  .img-logo-header-desktop {
    width: 200px;
  }

  .search-container {
    padding-left: 0;
  }
}

@media (max-width: 1280px) {
  .li-nav-desktop {
    font-size: 12px;
  }

  .img-logo-header-desktop {
    width: 220px;
  }

  .search-container {
    padding-left: 0;
  }
}

@media (max-width: 800px) {
  .img-logo-header-desktop {
    width: 180px;
  }
}

@media (max-width: 700px) {
  .header-desktop {
    display: none;
  }

  .texto-barra-superior {
    font-size: 10px;
  }
}

@media (min-width: 700px) {
  .header-mobile {
    display: none;
  }
}
